*{
    background-color: black;
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
}

header .content h1{
    color: white;
    font-size: 3.125rem;
}

header .content a{
    color: aquamarine;
    font-size: 1rem;
}

header .content a h4{
    color: aquamarine;
    font-size: 1rem;
}